.app{
    width: 100% !important;
    text-align: center;
}

.app .app__queryWord{
    outline: none;
    min-width:300px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    
}

.app__queryWord:focus{
    box-shadow:0 0 1px 3px #0275d8;
}

.app .resultsBox{
    background: #d3d3d3;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    overflow: hidden;
    word-wrap: break-word;

    height: fit-content;
}